<nav>
  <div class="logo">
    <a href="" routerLink="/home" routerLinkActive="active"><img src="https://store.akamai.steamstatic.com/public/shared/images/responsive/header_logo.png"></a>
  </div>
    <ul>
      <li><a>Store</a></li>
      <li><a>Community</a></li>
      <li><a>About</a></li>
      <li><a>Support</a></li>
    </ul>
  <div class="menu-toggle">
    <input type="checkbox"/>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div id="global-action">
    <div id="global-action-menu">
      <div class="header-installsteam-btn header-installsteam-btn-green">
        <a href="" class="header-installsteam-btn-content">Install Steam</a>
      </div>
      <a href="" routerLink="/login" routerLinkActive="active" class="global-action-link">login</a>
      |
      <span class="pulldown global-action-link" id="language-pulldown">language</span>
    </div>
  </div>
</nav>

<script src="animation.js"></script>
