<app-navbar></app-navbar>
<div class="login">
<div class="page-content">
  <div class="page-content-flex">
    <div class="login-left col">
      <div class="login-credential-ctn">
        <div class="loginbox login-col-padding">
          <div class="loginbox-left">
            <div class="loginbox-content">
              <div class="login-title">Sign In</div>
              <div id="error-display" class="checkout-error" style="display: none;"></div>
              <form #myForm="ngForm" id="login-form" style="display: block" (ngSubmit)="logins()">
                <div class="login-row">
                  <div class="input-title">Staem account name</div>
                  <input type="text" class="text-field" [(ngModel)]="username" name="username" id="input_username">
                </div>
                <div class="login-row">
                  <div class="input-title">Password</div>
                  <input type="password" class="text-field" [(ngModel)]="password" name="password" id="input_password">
                </div>
                <div class="login-row" id="captcha-entry" style="display: none">
                  <br>
                  <div class="input-title">Enter the characters above</div>
                  <input type="text" class="text-field" id="input-captcha" name="captcha-text">
                </div>
                <div style="display: none">
<!--                  <input type="submit">-->
                </div>
              <div class="login-btn-ctn">
                <div class="login-btn-signin">
                  <button class="btn-blue-steamui btn-medium login-btn">
                    <span>Sign In</span>
                  </button>
                  <a href="" target="_top" id="link-forgot-password">Forgot your password?</a>
                </div>
                <div class="login-btn-wait" style="display: none"></div>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="login-right-col login-col-padding">
      <div class="login-join-desc subtext">Join Staem and discover thousands of games to buy.</div>
      <a href="" class="login-join-desc about-link">Learn More</a>
      <img src="https://store.cloudflare.steamstatic.com/public/shared/images/login/join_pc.png?v=1" alt="" class="join-image">
      <div class="login-btn-ctn">
        <div class="subtext">It's free and easy to use.</div>
        <a href="" routerLink="/register" routerLinkActive="active" class="btnv6-white-transparent btn-medium">
          <span>Join Staem</span>
        </a>
      </div>
    </div>
  </div>
</div>
  <app-footer></app-footer>
</div>






