.background{
  background: url(https://steamstore-a.akamaihd.net/public/images/v6/colored_body_top2.png?v=2)
  center top no-repeat #1b2838;
  min-height: 100%;
  height: auto;
}

.home-page-body-ctn {
  min-width: 972px;
  //display: flex;
  //justify-content: center;
  position: relative;
  overflow: hidden;
}

.home-page-content {
  position: relative;
  //justify-content: center;
  //display: flex;
  width: 80%;
  padding: 0 16px;
  margin: 0 auto;
}
