<div class="home-page-gutter">
  <div class="home-page-gutter-block">
    <div class="gutter-header">
    <a href="">
      <img src="https://store.cloudflare.steamstatic.com/public/images//gift/steamcards_promo_02.png" class="home-page-gutter-giftcard" alt="">
    </a>
    <br>
    Gift Cards
    </div>
    <div class="gutter-items">
      <a href="" class="gutter-giftcard gutter-item">Now Available On Steam</a>
      <div class="gutter-header">Recommended</div>
    </div>
    <div class="gutter-items">
      <a class="gutter-item">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span class="icon friends"></span>
        By Friends
      </a>
      <a class="gutter-item">
        <i class="fa fa-safari" aria-hidden="true"></i>
        <span class="icon curators"></span>
        By Curators
      </a>
      <a class="gutter-item">
        <i class="fa fa-tags" aria-hidden="true"></i>
        <span class="icon tags"></span>
        Tags
      </a>
    </div>
    <div class="gutter-header pad">Discovery Queues</div>
    <div class="gutter-items">
      <a class="gutter-item">
        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        <span class="icon queue"></span>
        Recommendations
      </a>
      <a class="gutter-item">
        <i class="fa fa-window-maximize" aria-hidden="true"></i>
        <span class="icon queue-new"></span>
        New Releases
      </a>
    </div>
    <div class="gutter-header pad">Browse Categories</div>
    <div class="gutter-items">
      <a class="gutter-item">
        <i class="fa fa-line-chart" aria-hidden="true"></i>
        <span class="icon top_sellers"></span>
        Top Seller
      </a>
      <a class="gutter-item">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span class="icon recent"></span>
        New Releases
      </a>
      <a class="gutter-item">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <span class="icon upcoming"></span>
        Upcoming
      </a>
      <a class="gutter-item">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <span class="icon discounts"></span>
        Specials
      </a>
      <a class="gutter-item">
        <i class="fa fa-vimeo" aria-hidden="true"></i>
        <span class="icon vr"></span>
        Virtual Reality
      </a>
      <a class="gutter-item">
        <i class="fa fa-gamepad" aria-hidden="true"></i>
        <span class="icon controller"></span>
        Controller Friendly
      </a>
    </div>
  </div>
  <div class="home-page-gutter-block">
    <div class="gutter-header pad">Browse by genre</div>
    <a href="" class="gutter-item"> Free to Play </a>
    <a href="" class="gutter-item"> Early Access </a>
    <a href="" class="gutter-item"> Action </a>
    <a href="" class="gutter-item"> Adventures </a>
    <a href="" class="gutter-item"> Casual </a>
    <a href="" class="gutter-item"> Indie </a>
    <a href="" class="gutter-item"> Massively Multiplayer </a>
    <a href="" class="gutter-item"> Racing </a>
    <a href="" class="gutter-item"> RPG </a>
    <a href="" class="gutter-item"> Simulation </a>
    <a href="" class="gutter-item"> Sports </a>
    <a href="" class="gutter-item"> Strategy </a>
  </div>
<!--  <div class="home-page-gutter-block" id="home-gutter-recommendedtags"></div>-->
</div>
